
    body{
    background-color: rgb(209, 195, 192)
    }
    header{
    display: flex;
    justify-content: center;
    }
    .for-head{
    color: red;
    display: inline;
    text-align: -webkit-center;
}
.for-head>h3{
    color: black;
    }
.img-article{
width: 54%;
        
}
    
.content{
    
    display: flex;
    margin-bottom: 10px;
}
div{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.button{
        width: 20%;
        height: 33px;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(220, 0, 0, 1);
    }
.button-div{
    display: flex;
    flex-direction: row-reverse;
}
/*
@media screen and (min-width: 375px) {
    body{
        background-color: cyan;
    }
    .for-head{
        display: flex;
        order: 1;
    }
    .for-head>h3{
        order: 2;
    }
    .img-article{
        width: 100%;
    }
    div{
        order: 3;
        justify-content: end;
    }
    .button{
        order: 1;
        padding: 0%;
        font-size: 74%;
    }
    article.content{
        display: contents;
    }
    head{
        display: flex;
    }
    }
*/