<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/article.css" >
    <title>Document</title>
</head>
<body>
    <header>
    <article class="for-head">
        <h1> le titre d'article </h1>
        <h3>Feature that is amazing</h3>
    </header>
    <article class="content">  
    <img class="img-article" src="Simplon.jpg" alt="">
        <div>
            <div class="button-div">
                <button class="button"type="button"><a href="#"></a>
                    Free Trial</button>
            </div>
            <h2>Feature that is amazing</h2>
            <h4>Feature that is amazing</h4>
            <p>Rain.First, in accordance with what was
                stated in paragraph 35 above, the 
                complainant should have been the very<br>
                first to receive the information about 
                the Commission's decision affecting
                its position as hosting body.</p>
        </div>
       
        </article>  
</body>
</html>