<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Simplon News</title>
</head>


<body>

    <header class="header">

        <div class="search">
            <input type="text">
            <img src="loupe.png" alt="searchBar">
        </div>

        <div class="title">
            <h1>Simplon News</h1>
            <h2>Lorem, ipsum dolor.</h2>
        </div>

        <nav class="main-nav">
            <ul>
                <li>Page 0</li>
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
            </ul>
        </nav>

    </header>


    <section class="articles">

        <div class="bicPic">
            <img src="Projets/big_Pic.png" alt="">
        </div>

        <div class="grid">

            <div class="box1">
                <img src="lil_Pic.png" alt="">
            </div>

            <div class="box2">
                <div class="box-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>

            <div class="box3">
                <div class="box-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>

            <div class="box4">
                <div class="box-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>

            <div class="box5">
                <img src="lil_Pic.png" alt="">
            </div>

            <div class="box6">
                <div class="box-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>

            <div class="box7">
                <img src="medium_Pic.png" alt="">
            </div>

            <div class="box8">
                <div class="box-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>

        </div>

    </section>

    <footer class="footer">
        <div class="menu">
            <ul>
                <li><a href="#">Page 0</a></li>
                <li><a href="#">Page 1</a></li>
                <li><img src="logo.png" alt="Logo Simplon"></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>

        <hr>

        <div class="links">
            <ul>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">YouTube</a></li>
            </ul>
        </div>

    </footer>

</body>

</html>